.first {
  background: linear-gradient(94.53deg, #3795eb 4.12%, #4dc9e4 79.14%);
  height: 40%;
}

.login-pad {
  margin: 20px 30px;
}

.img-pad {
  margin: 11px 0;
}

.b-line {
  border-bottom: 1px solid #f4f4f4;
}

.f-pass {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #fbb040;
  text-align: center;
}

.button1 {
  background: #298dcc;
  border-radius: 10px;
  height: 48px;
  padding: 13px 0;
  text-align: center;
  color: #fff;
  margin-top: 13px;
}

.centre {
  text-align: center;
  padding: 10% 0;
}

.login {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.01em;
  color: #fff;
}

.signup {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #ffffff;
  opacity: 0.7;
}

.auth {
  background: linear-gradient(94.53deg, #399aea 4.12%, #4dc9e4 79.14%);
  padding: 10px;
  text-align: center;
}
