<ion-content>
  <div class="first centre">
    <img class="centre" src="assets/imgs/logo.svg" />
  </div>
  <div class="auth">
    <ion-row>
      <ion-col (click)="login()">
        <b class="signup">Log In</b>
      </ion-col>
      <ion-col>
        <b class="login">Sign Up</b>
      </ion-col>
    </ion-row>
  </div>
  <div class="second">
    <ion-list class="login-pad">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-label stacked>First name</ion-label>
          <ion-row>
            <ion-col size="1">
              <img class="img-pad" src="assets/imgs/arrow.svg" />
            </ion-col>
            <ion-col>
              <div class="b-line">
                <ion-input type="text" [(ngModel)]="fname"></ion-input>
              </div>
            </ion-col>
          </ion-row>

          <ion-label stacked>Surname</ion-label>
          <ion-row>
            <ion-col size="1">
              <img class="img-pad" src="assets/imgs/arrow.svg" />
            </ion-col>
            <ion-col>
              <div class="b-line">
                <ion-input type="text" [(ngModel)]="sname"></ion-input>
              </div>
            </ion-col>
          </ion-row>
          <ion-label stacked>Mobile number</ion-label>
          <ion-row>
            <ion-col size="1">
              <img class="img-pad" src="assets/imgs/arrow.svg" />
            </ion-col>
            <ion-col>
              <div class="b-line">
                <ion-input type="number" [(ngModel)]="phone"></ion-input>
              </div>
            </ion-col>
          </ion-row>
          <br />
          <div class="button1" (click)="next()">
            Next
          </div>
        </ion-slide>

        <ion-slide>
          <ion-label stacked>Email</ion-label>
          <ion-row>
            <ion-col size="1">
              <img class="img-pad" src="assets/imgs/mail.svg" />
            </ion-col>
            <ion-col>
              <div class="b-line">
                <ion-input type="email" [(ngModel)]="email"></ion-input>
              </div>
            </ion-col>
          </ion-row>

          <ion-label stacked>Password</ion-label>
          <ion-row>
            <ion-col size="1">
              <img class="img-pad" src="assets/imgs/lock.svg" />
            </ion-col>
            <ion-col>
              <div class="b-line">
                <ion-input type="text" [(ngModel)]="pword"></ion-input>
              </div>
            </ion-col>
          </ion-row>
          <ion-label stacked>Confirm password</ion-label>
          <ion-row>
            <ion-col size="1">
              <img class="img-pad" src="assets/imgs/lock.svg" />
            </ion-col>
            <ion-col>
              <div class="b-line">
                <ion-input type="text" [(ngModel)]="cpword"></ion-input>
              </div>
            </ion-col>
          </ion-row>
          <br />
          <div style="text-align: center">
            <img class="img-pad" src="assets/imgs/ar.svg" (click)="prev()" />
          </div>
          <div class="button1" (click)="signup()">
            Done
          </div>
        </ion-slide>
      </ion-slides>
    </ion-list>
  </div>
</ion-content>
